* {
    box-sizing: border-box;
}

.texto-logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.texto-logo img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.navbar-nav {
    font-size: x-large;
    font-family: 'Inter', sans-serif;
}