* {
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(21, 32, 81);
}

.texto-logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.texto-logo img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.navbar-nav {
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.lnb-tv-nav {
    margin-left: 37rem;
}